:root {color-scheme: light dark;}


body {
      font-family: sans-serif;
      margin: 0 auto;
      max-width: 21cm;
      color: light-dark(black, white);
      background-color: light-dark(white, black);
      text-align: left;
      counter-reset: footnote, figure_float, table_float;
      position: relative;
}



/* LAYOUTS */

div.layout {
      line-height: 1.5;
      margin-bottom: 0.7ex;
      margin-top: 0.7ex;
      font-size: medium;
      font-weight: initial;
      font-style: normal;
      font-variant: normal;
}

h1.layout.Title {
      font-size: xx-large;
      text-align: center;
}

div.layout.Author {
      font-size: large;
      margin-top: 1.3ex;
      margin-bottom: 0.7ex;
      text-align: center;
}

div.layout.Date {
      font-size: large;
      margin-top: 0.9ex;
      margin-bottom: 0.5ex;
      text-align: center;
}

div.layout.Abstract {
      font-size: small;
      margin-top: 0.7ex;
      margin-bottom: 0.7ex;
      margin-left: 3ex;
      margin-right: 3ex;
      text-align: left;
}

div.layout.Address {
      margin-bottom: 1.5ex;
      text-align: left;
}

div.layout.Right.Address {
      margin-bottom: 1.5ex;
      text-align: right;
}

div.layout.Part {
      font-weight: bold;
      font-size: xx-large;
}

div.layout.chapter {text-align: center;}

div.layout.Section {
      font-weight: bold;
      font-style: normal;
      font-variant: small-caps;
      font-size: x-large;
      margin-top: 0.7ex;
      margin-top: 0.7ex;
}

div.layout.Subsection {
      font-weight: bold;
      font-size: large;
      margin-top: 0.7ex;
      margin-bottom: 0.7ex;
}

div.layout.Subsubsection, div.layout.Paragraph, div.layout.Subparagraph {
      font-weight: bold;
      font-size: medium;
      margin-top: 0.7ex;
      margin-bottom: 0.7ex;
}

ol {list-style-type: decimal;}
ol li ol {list-style-type: lower-latin;}
ol li ol li ol {list-style-type: lower-roman;}
ol li ol li ol li ol {list-style-type: upper-latin;}

ul {list-style-type: disc;}
ul li ul {list-style-type: circle;}
ul li ul li ul {list-style-type: square;}
ul li ul li ul li ul {list-style-type: "- ";}

div.layout.Labeling.item, div.layout.Description.item {display: flex;}
dt.layout.Labeling, dt.layout.Description {min-width: 1.7cm;}
dd.layout.Labeling, dd.layout.Description {flex: 1; margin-left: 1em;}
dt.layout.Description {font-weight: bold;}

div.layout.LyX-Code, div.layout.Quote, div.layout.Verse {margin-left: 1cm;}

div.layout.Quotation {margin-left: 1.5cm;}

div.layout.LyX-Code, div.layout.Verbatim, div.layout.Verbatim_ {font-family: monospace;}


/* INSETS */

table, td  {border-collapse: collapse;}

a {color: light-dark(blue, rgb(0, 150, 255)); text-decoration: inherit;}
a:hover {text-decoration: underline;}

span.inset.Argument::before {content: " ("}
span.inset.Argument::after {content: "). "}



/* DESIGNS */

del.strikeout.on {text-decoration: line-through;}
del.xout.on {text-decoration: line-through wavy;}

u.uuline.on {text-decoration: underline double;}
u.uwave.on {text-decoration: underline wavy;}

span.noun.on {font-variant: small-caps;}
span.shape.smallcaps {font-variant: small-caps;}

span.size.tiny, span.size.scriptsize {font-size: xx-small;}
span.size.footnotesize {font-size: x-small;}
span.size.small {font-size: small;}
span.size.large {font-size: large;}
span.size.larger {font-size: x-large;}
span.size.largest {font-size: xx-large;}

span.color.blue {color: blue}
span.color.brown {color: brown}
span.color.cyan {color: cyan}
span.color.darkgray {color: darkgray}
span.color.gray {color: gray}
span.color.green {color: green}
span.color.lightgray {color: lightgrey}
span.color.lime.green {color: limegreen}
span.color.magenta {color: magenta}
span.color.olive.green {color: olive}
span.color.orange {color: orange}
span.color.pink {color: pink}
span.color.purple {color: purple}
span.color.red {color: red}
span.color.teal {color: teal}
span.color.violet {color: violet}
span.color.yellow {color: yellow}

div.align.block {text-align: justify;}
div.align.right {text-align: right;}
div.align.center {text-align: center;}
div.align.left {text-align: left;}
div.paragraph_spacing.single {line-height: 1;}
div.paragraph_spacing.onehalf {line-height: 1.5;}
div.paragraph_spacing.double {line-height: 2;}
div.paragraph_spacing.other {line-height: attrib(data-details);}
div.noindent {text-indent: 0%;}

span.family.roman {font-family: serif;}
span.family.sans {font-family: sans-serif;}
span.family.typewriter {font-family: monospace;}

span.inset.Foot::before {
      display: inline;
      vertical-align: super;
      font-size: 0.7em;
      cursor: pointer;
      counter-increment: footnote;
      content: counter(footnote);
}
span.inset.Foot span.layout.Plain.Layout {display: none;}
span.inset.Foot:hover span.layout.Plain.Layout  {
      display: inline;
      width: fit-content;
      font-size: small;
      position: absolute;
      background-color: light-dark(lightgray, rgb(50, 50, 50));
      padding: 0.3em;
      padding-left: 0.5em;
      padding-right: 0.5em;
}

span.inset.Marginal {
      position: absolute;
      left: -150px;
      width: fit-content;
      max-width: 120px;
      font-size: 0.85em;
      padding: 0.1em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      border: solid 1px;
}

div.inset.Box {padding-left: 0.3em; padding-right: 0.3em;}
div.inset.Box.Boxed {border-style: solid; border-width: 1px;}
div.inset.Box.Doublebox {border-style: double; border-width: 3px;}
div.inset.Box.ovalbox {border-style: solid; border-width: 1px; border-radius: 0.3em;}
div.inset.Box.Ovalbox {border-style: solid; border-width: 2px; border-radius: 0.3em;}
div.inset.Box.Shaded {border-style: solid; border-width: 1px; background-color: light-dark(lightgray, dimgray)}
div.inset.Box.Shadowbox {border-style: solid; border-width: 1px; box-shadow: 5px 5px}

div.inset.Float {margin: 5em;}

div.inset.Caption.Standard {text-align: center; margin: 1em;}
div.inset.Float.figure div.inset.Caption.Standard::before {counter-increment: figure_float; content: "Figure" counter(figure_float) ": ";}
div.inset.Float.table div.inset.Caption.Standard::before {counter-increment: table_float; content: "Table" counter(table_float) ": ";}

span.inset.Note.Note {display: none;}
span.inset.Note.Note div {display: none;}
span.inset.FormulaMacro {display: none;}
