div.layout.Theorem span.label {font-weight: bold;}
div.layout.Corollary span.label {font-weight: bold;}
div.layout.Lemma span.label {font-style: italic;}
div.layout.Proposition span.label {font-weight: bold;}
div.layout.Conjecture span.label {font-weight: bold;}
div.layout.Definition span.label {font-weight: bold;}
div.layout.Example span.label {font-weight: bold;}
div.layout.Problem span.label {font-weight: bold;}
div.layout.Exercise span.label {font-weight: bold;}
div.layout.Solution span.label {font-weight: bold;}
div.layout.Remark span.label {font-weight: bold;}
div.layout.Claim span.label {font-style: italic;}
div.layout.Case span.label {font-style: italic;}
div.layout.Fact span.label {font-weight: bold;}

div.layout.Theorem_ span.label {font-weight: bold;}
div.layout.Corollary_ span.label {font-weight: bold;}
div.layout.Lemma_ span.label {font-style: italic;}
div.layout.Proposition_ span.label {font-weight: bold;}
div.layout.Conjecture_ span.label {font-weight: bold;}
div.layout.Definition_ span.label {font-weight: bold;}
div.layout.Example_ span.label {font-weight: bold;}
div.layout.Problem_ span.label {font-weight: bold;}
div.layout.Exercise_ span.label {font-weight: bold;}
div.layout.Solution_ span.label {font-weight: bold;}
div.layout.Remark_ span.label {content: "Remark";}
div.layout.Claim_ span.label {font-style: italic;}
div.layout.Case_ span.label {font-style: italic;}
div.layout.Fact_ span.label {font-weight: bold;}

div.layout.Proof span.label {font-style: italic;}
