:root {color-scheme: light dark;}


body  {
      font-family: sans-serif;
      max-width: 21cm;
      margin: 0 auto;
      color: light-dark(black, white);
      background-color: light-dark(white, black);
      text-align: left;
      }

div {
    margin-bottom: 0.7ex;
    margin-top: 0.7ex;
    }



/* LAYOUTS */

h1.layout_Title {
                font-size: xx-large;
                text-align: center;
                }

div.layout_Author  {
            font-size: large;
            margin-top: 1.3ex;
            margin-bottom: 0.7ex;
            text-align: center;
            }

div.layout_Date  {
          font-size: large;
          margin-top: 0.9ex;
          margin-bottom: 0.5ex;
          text-align: center;
          }

div.layout_Abstract  {
              font-size: small;
              margin-top: 0.7ex;
              margin-bottom: 0.7ex;
              margin-left: 3ex;
              margin-right: 3ex;
              text-align: left;
              }

div.layout_Address {
            margin-bottom: 1.5ex;
            text-align: left;
            }

div.layout_Right_Address {
                  margin-bottom: 1.5ex;
                  text-align: right;
                  }

div.layout_Part {
                font-weight: bold;
                font-size: xx-large;
                }

h2.layout_Section {
                  font-weight: bold;
                  font-style: normal;
                  font-variant: small-caps;
                  font-size: x-large;
                  margin-top: 0.7ex;
                  margin-top: 0.7ex;
                  }

h3.layout_Subsection  {
                      font-weight: bold;
                      font-size: large;
                      margin-top: 0.7ex;
                      margin-bottom: 0.7ex;
                      }

h4.layout_Subsubsection, h5.layout_Paragraph, h6.layout_Subparagraph 
                        {
                        font-weight: bold;
                        font-size: medium;
                        margin-top: 0.7ex;
                        margin-bottom: 0.7ex;
                        }

div.layout_Theorem::before {content: "Theorem "; font-weight: bold; counter-increment: name;}
div.layout_Corollary::before {content: "Corollary "; font-weight: bold}
div.layout_Lemma::before {content: "Lemma ";}
div.layout_Proposition::before {content: "Proposition "; font-weight: bold;}
div.layout_Conjecture::before {content: "Conjecture "; font-weight:  bold;}
div.layout_Definition::before {content: "Definition "; font-weight: bold;}
div.layout_Example::before {content: "Example "; font-weight: bold;}
div.layout_Problem::before {content: "Problem "; font-weight: bold;}
div.layout_Exercise::before {content: "Exercise "; font-weight: bold;}
div.layout_Solution::before {content: "Solution "; font-weight: bold;}
div.layout_Remark::before {content: "Remark ";}
div.layout_Claim::before {content: "Claim "; font-weight: bold;}
div.layout_Case::before {content: "Case ";}
div.layout_Fact::before {content: "Fact "; font-weight: bold;}

div.layout_Theorem_::before {content: "Theorem "; font-weight: bold;}
div.layout_Corollary_::before {content: "Corollary "; font-weight: bold}
div.layout_Lemma_::before {content: "Lemma ";}
div.layout_Proposition_::before {content: "Proposition "; font-weight: bold;}
div.layout_Conjecture_::before {content: "Conjecture "; font-weight:  bold;}
div.layout_Definition_::before {content: "Defintion "; font-weight: bold;}
div.layout_Example_::before {content: "Example "; font-weight: bold;}
div.layout_Problem_::before {content: "Problem "; font-weight: bold;}
div.layout_Exercise_::before {content: "Exercise "; font-weight: bold;}
div.layout_Solution_::before {content: "Solution "; font-weight: bold;}
div.layout_Remark_::before {content: "Remark ";}
div.layout_Claim_::before {content: "Claim "; font-weight: bold;}
div.layout_Case_::before {content: "Case ";}
div.layout_Fact_::before {content: "Fact "; font-weight: bold;}

div.layout_Proof::before {content: "Proof ";}

ol.enumi   {list-style-type: decimal;}
ol.enumii  {list-style-type: lower-latin;}
ol.enumiii {list-style-type: lower-roman;}
ol.enumiiii  {list-style-type: upper-latin;}

ul.lyxitemi {list-style-type: disc;}
ul.lyxitemii {list-style-type: circle;}
ul.lyxitemiii {list-style-type: square;}



/* INSETS */

table, td  {
           border-collapse: collapse;
           }

a {color: light-dark(blue, lightblue);}



/* DESIGNS */

/* span  {
      color: inherit; text-align: inherit
      } */

del.strikeout_on {text-decoration: line-through;}
del.xout_on {text-decoration: line-through;}

span.noun_on {font-variant: small-caps;}
span.shape_smallcaps {font-variant: small-caps;}

span.size_tiny, span.size_scriptsize {font-size: xx-small;}
span.size_footnotesize {font-size: x-small;}
span.size_small {font-size: small;}
span.size_large {font-size: large;}
span.size_larger {font-size: x-large;}
span.size_largest {font-size: xx-large;}

span.color_blue {color: blue}
span.color_brown {color: brown}
span.color_cyan {color: cyan}
span.color_darkgray {color: darkgray}
span.color_gray {color: gray}
span.color_green {color: green}
span.color_lightgray {color: lightgrey}
span.color_lime_green {color: limegreen}
span.color_magenta {color: magenta}
span.color_olive_green {color: olive}
span.color_orange {color: orange}
span.color_pink {color: pink}
span.color_purple {color: purple}
span.color_red {color: red}
span.color_teal {color: teal}
span.color_violet {color: violet}
span.color_yellow {color: yellow}

div.align_block {text-align: justify;}
div.align_right {text-align: right;}
div.align_center {text-align: center;}
div.align_left {text-align: left;}
div.paragraph_spacing_single {line-height: 1;}
div.paragraph_spacing_onehalf {line-height: 1.5;}
div.paragraph_spacing_double {line-height: 2;}
div.noindent {text-indent: 0%;}