body {counter-reset: ams}
div.layout[class]:not([class="layout Case"]) {counter-reset: case;}

div.layout.Theorem::before {counter-increment: ams; font-weight: bold; content: "Theorem " counter(ams);}
div.layout.Corollary::before {counter-increment: ams; font-weight: bold; content: "Corollary " counter(ams);}
div.layout.Lemma::before {counter-increment: ams; content: "Lemma " counter(ams);}
div.layout.Proposition::before {counter-increment: ams; font-weight: bold; content: "Proposition " counter(ams);}
div.layout.Conjecture::before {counter-increment: ams; font-weight: bold; content: "Conjecture " counter(ams);}
div.layout.Definition::before {counter-increment: ams; font-weight: bold; content: "Definition " counter(ams);}
div.layout.Example::before {counter-increment: ams; font-weight: bold; content: "Example " counter(ams);}
div.layout.Problem::before {counter-increment: ams; font-weight: bold; content: "Problem " counter(ams);}
div.layout.Exercise::before {counter-increment: ams; font-weight: bold; content: "Exercise " counter(ams);}
div.layout.Solution::before {counter-increment: ams; font-weight: bold; content: "Solution " counter(ams);}
div.layout.Remark::before {counter-increment: ams; content: "Remark " counter(ams);}
div.layout.Claim::before {counter-increment: ams; font-weight: bold; content: "Claim " counter(ams);}
div.layout.Case::before {counter-increment: case; content: "Case " counter(case);}
div.layout.Fact::before {counter-increment: ams; font-weight: bold; content: "Fact " counter(ams);}

div.layout.Theorem_::before {font-weight: bold; content: "Theorem";}
div.layout.Corollary_::before {font-weight: bold; content: "Corollary";}
div.layout.Lemma_::before {content: "Lemma";}
div.layout.Proposition_::before {font-weight: bold; content: "Proposition";}
div.layout.Conjecture_::before {font-weight: bold; content: "Conjecture";}
div.layout.Definition_::before {font-weight: bold; content: "Defintion";}
div.layout.Example_::before {font-weight: bold; content: "Example";}
div.layout.Problem_::before {font-weight: bold; content: "Problem";}
div.layout.Exercise_::before {font-weight: bold; content: "Exercise";}
div.layout.Solution_::before {font-weight: bold; content: "Solution";}
div.layout.Remark_::before {content: "Remark";}
div.layout.Claim_::before {font-weight: bold; content: "Claim";}
div.layout.Case_::before {content: "Case";}
div.layout.Fact_::before {font-weight: bold; content: "Fact";}

div.layout.Proof::before {content: "Proof";}
div.layout.Proof::after {content: "■"; font-size: 150%; position: absolute; left: 100%;}