body {counter-set: ams}

div.layout.Theorem::before {counter-increment: ams; content: "Theorem " counter(ams); font-weight: bold;}
div.layout.Corollary::before {counter-increment: ams; content: "Corollary " counter(ams); font-weight: bold;}
div.layout.Lemma::before {counter-increment: ams; content: "Lemma " counter(ams);}
div.layout.Proposition::before {counter-increment: ams; content: "Proposition " counter(ams); font-weight: bold;}
div.layout.Conjecture::before {counter-increment: ams; content: "Conjecture " counter(ams); font-weight: bold;}
div.layout.Definition::before {counter-increment: ams; content: "Definition " counter(ams); font-weight: bold;}
div.layout.Example::before {counter-increment: ams; content: "Example " counter(ams); font-weight: bold;}
div.layout.Problem::before {counter-increment: ams; content: "Problem " counter(ams); font-weight: bold;}
div.layout.Exercise::before {counter-increment: ams; content: "Exercise " counter(ams); font-weight: bold;}
div.layout.Solution::before {counter-increment: ams; content: "Solution " counter(ams); font-weight: bold;}
div.layout.Remark::before {counter-increment: ams; content: "Remark " counter(ams);}
div.layout.Claim::before {counter-increment: ams; content: "Claim " counter(ams); font-weight: bold;}
div.layout.Case::before {counter-increment: ams; content: "Case ";}
div.layout.Fact::before {counter-increment: ams; content: "Fact " counter(ams); font-weight: bold;}

div.layout.Theorem_::before {content: "Theorem "; font-weight: bold;}
div.layout.Corollary_::before {content: "Corollary "; font-weight: bold;}
div.layout.Lemma_::before {content: "Lemma ";}
div.layout.Proposition_::before {content: "Proposition "; font-weight: bold;}
div.layout.Conjecture_::before {content: "Conjecture "; font-weight: bold;}
div.layout.Definition_::before {content: "Defintion "; font-weight: bold;}
div.layout.Example_::before {content: "Example "; font-weight: bold;}
div.layout.Problem_::before {content: "Problem "; font-weight: bold;}
div.layout.Exercise_::before {content: "Exercise "; font-weight: bold;}
div.layout.Solution_::before {content: "Solution "; font-weight: bold;}
div.layout.Remark_::before {content: "Remark ";}
div.layout.Claim_::before {content: "Claim "; font-weight: bold;}
div.layout.Case_::before {content: "Case ";}
div.layout.Fact_::before {content: "Fact "; font-weight: bold;}

div.layout.Proof::before {content: "Proof ";}